.container-fluid{
    margin-top: 5rem;
}

.title{
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
}

.section-title h2{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #f5f9fc;
    color: #428bca;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
}

.section-title h3{
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
}

.section-title span{
    color: #428bca;
}