.citysearch{
    width:90%;
    margin-left: 0.3rem;
}

.btn-get-started animated fadeInUp scrollto{
    margin-top: 2rem;
}

.icon{
    color:white;
    font-size: 1.7rem;
}

.seeall{
   margin-top: 5rem;
}


