.login{
    width: 7rem;
    height: 2.5rem;
    margin-left: 3rem;
    color: white;
    font-weight: bold;
    background-color: #428bca;
    border: none;
    border-radius: 10px;
}

.signup{
    width: 7rem;
    height: 2.5rem;
    color: white;
    font-weight: bold;
    background-color: #428bca;
    border: none;
    border-radius: 10px;
}